
.jumbotron {
    background-repeat: no-repeat;
    background-position: right;
    background-color: #000000;
    color: #ffffff;
    margin-top: 3%;
  }
  #newburger {
    color: #5c5c5c;
  }
  #leftside {
    background-color: #5c5c5c;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }
  #rightside {
    background-color: #e49322;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }

  body{
    background:  gold;
    }
    h1 {
    color: white;
    text-shadow: -1px 1px 2px #000,
            1px 1px 2px #000,
            1px -1px 0 #000,
            -1px -1px 0 #000;
    }
    
    img {
    padding: 20px;
    width: 200px;
    height: 200px;
    }